* {
    margin: 0;
    padding: 0;
}
html, body {
  height: 100%;
}
body{
  overflow-x: hidden;
    color: #E4E4E4;
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
}

#header{
    text-align: center;
    font-size:  20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: DejaVu Sans Mono, monospace;
    font-weight: bold;
    box-shadow: 0 7px 37px -5px #00C4F0;
}

#main {
  display: flex;
  align-items: center;
  height: calc(100% - 90px);
}

.algoritm a{
    text-decoration: none;
    color: #E4E4E4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

#info{
text-align: left;
font-family: NEXT ART;
margin-left: 50px;
    line-height: 54px;
    font-weight: 600;
    font-size: 65px;
}
#team{
text-align: left;
font-family: NEXT ART;
margin-top: 30px;
margin-left: 50px;
font-size: 20px;
}
#main{
    width: 100%;
}
#text{
    width: 40%;
    margin-top: -30px;
}
#photo{
    width:60%;
    display: flex;
}
#logo{
margin-left: -10px;
width: 100%;
}

.algoritm{
width: 5%;
height: 90px;
position: relative;
flex-grow: 1;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

.link.active:before, 
.link.active:after {
  width: 100%;
}

.link:before, .link:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 97%;
  margin-top: -0.5px;
  background: #fff;
}

.link:before {
  left: -2.5px;
}
.link:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.link:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

@media screen and (max-width: 852px) {
  #main {
    flex-direction: column;
  }

  #text{
    width: 100%;
    margin-top: 50px;
  } 

  #photo {
    width: 100%;
  }

  .algoritm {
    font-size: 13px;
  }
}
